<ion-view view-title="Sobre">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
    <h2>Descrição</h2>
    <h5 style="text-align:justify">Sistema para gerencimento de vendas, facilitando para o consumidor e vendedor a compra e venda por meio do PDV movel, agilizando a cobrança e gerenciamento de todo o processo de venda da empresa, aceitando pagamento por dinheiro, cartões de crédito e débito das mais variadas bandeiras disponiveis no mercado.</h5>
    <h2>Web Site</h2>
    <h5><a href="http://www.grandssistemas.com.br/">http://www.grandssistemas.com.br/</a></h5>
    <h2>Contato</h2>
    <h5>Bruno Gelatti - bgelatti@gmail.com</h5>
  </ion-content>
</ion-view>
