<ion-view view-title="Pedido de Venda">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="icon fa fa-shopping-cart icon-without-button ion-lg" style="color:#fff" ui-sref="menu.sale"></a>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Pesquise o produto" ng-model="searchValue"
         ng-keyup="search($event,searchValue)">
      </label>
    </div>
    <div class="text-center">
      <button class="button button-small button-balanced"
      ng-class="{'button-outline': place != 'CATEGORY'}"
      ng-click="getLevel('CATEGORY')">Categorias</button>
      <button class="button button-small button-balanced"
      ng-class="{'button-outline': place != 'PRODUCTTYPE'}"
      ng-click="getLevel('PRODUCTTYPE')">Tipo de Produtos</button>
      <button class="button button-small button-balanced button-outline fa fa-barcode fa-2x"
      ng-click="openBarcode()"></button>
    </div>
    <div ng-show="showTree">
      <div ng-repeat="item in values">
        <div ng-class="{'text-center':!item.categoryType}">
          <button class="button button-clear button-stable" ng-click="getFather(item)">
            <i class="ion-chevron-left ion-sm p-r" ng-show="item.categoryType"></i>
            <b>
              {{item.name|uppercase}}
            </b>
          </button>
        </div>
        <div class="list list-no-style">
          <span class="item clickable item-icon-right" ng-repeat="child in item.childrens"
            ng-click="getChildren(child)">
            <i class="icon ion-chevron-right ion-sm"></i>
            {{child.name}}
          </span>
        </div>
      </div>
    </div>
    <div class="row" ng-show="products" ng-repeat="prod in products">
        <grands-product first="$first" add-cart="addCart(item,$event)" class="col col-50" product="prod[0]"></grands-product>
        <grands-product product="prod[1]" add-cart="addCart(item,$event)" class="col" ng-show="prod[1]"></grands-product>
    </div>
  </ion-content>
</ion-view>
