/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

*/
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #18a689 !default;
$energized:                       #ff7920 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #333333 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.p-r {
  padding-right: 15px;
}

.item.activated.clickable{
  border-color: #ccc;
  background-color: #D9D9D9;
}

.ion-sm{
  font-size: 15px!important;
}

.ion-lg{
  font-size: 30px!important;
}

.icon-without-button{
  text-decoration: none;
  padding-right: 5px!important;
  padding-top: 2px!important;
}

.list-no-style > div > .item,
.list-no-style > .item{
  border: none;
  padding: 8px;
}


.list-no-style{
  border: none;
  box-shadow: none;
}

.img-product-list {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.list-no-style .item-content{
    padding: 0;
}

.icon-list-option{
  text-align: center;
  width: 100%;
}

.full-width{
  max-width: 100%;
}

.f-lg{
  font-size: 16px;
}

.n-p{
  padding: 0!important;
}

.no-min-height{
  min-height: 0!important;
}

.m-t{
  margin-top: 15px!important;
}

.n-m-b{
  margin-bottom: 0!important;
}

.n-m-t{
  margin-top: 0!important;
}

.n-p-l{
  padding-left: 0!important;
}

.font-h1{
  font-size: 36px!important;
}

.input{
  width: 100%;
  height: 1.2em!important;
}

.input-balanced{
  color: $balanced!important;;
}

.text-center{
  text-align: center;
}

.title-balanced{
  color: #18a689!important;
}

/* Extra small devices */
@media (max-width: 600px) {
  .img-responsive {
    height: 150px
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .img-responsive {
    height: 250px!important;
  }

  .footer-md{
    height: 88px!important;
  }

  .footer-md .title{
    height: 86px!important;
    line-height: 71px!important;
    text-align: left!important;
    vertical-align: middle!important;
    font-size: 46px!important;
  }

  .footer-md .button{
    font-size: 20px!important;
    max-width: 150px!important;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
  }

  .bar-header {
    height: 66px!important;
  }

  .bar-balanced .button.button-clear {
    font-size: 32px!important;
    margin-top: 4px!important;
  }

  .bar .button.button-clear, .bar .button.button-clear {
    padding-right: 2px!important;
    padding-left: 2px!important;
    font-weight: 300!important;
    font-size: 42px!important;
    height: 50px!important;
    width: 50px!important;
  }

  .bar .title {
    font-size: 43px!important;
    height: 58px!important;
    margin-top: 12px!important;
  }

  .ion-lg {
    font-size: 43px!important;
  }

  .icon-without-button {
    padding-top: 10px!important;
  }

  .input {
    font-size: 25px!important;
  }

  .title+.buttons, {
    position: absolute!important;
    top: 0px!important;
    right: 5px!important;
    bottom: 0px!important;
  }

  .scroll-content {
    margin-top: 21px!important;
    margin-bottom: 40px!important;
  }

  .bar .buttons-right .span {
    margin-left: 5px!important;
    display: inherit!important;
    margin-top: 7px!important;
  }

  .item-input-inset .item-input-wrapper input {
    padding-left: 4px!important;
    height: 48px!important;
    line-height: 18px!important;
    font-size: 24px!important;
  }

  .placeholder-icon:first-child {
    padding-right: 6px!important;
    font-size: 28px!important;
  }

  .button {
    font-size: 22px!important;
  }


  .item {
    font-size: 20px!important;
    line-height: 26px!important;
  }

  .span {
    font-size: 18px!important;
  }

  .f-lg {
    font-size: 30px!important;
  }

  .button.button-balanced.button-clear {
    font-size: 45px!important;
  }

  .item p {
    font-size: 18px!important;
  }

  b, strong {
    font-size: 22px!important;
  }

  .button-small .icon:before, .button-small.icon-left:before, .button-small.icon-right:before, .button-small.icon:before {
    font-size: 30px!important;
  }

  .text-center {
    font-size: 20px!important;
  }

  .h5, h5 {
    margin-top: 20px!important;
  }

  .input-label {
    font-size: 24px!important;
  }

  .item-input input, .item-input textarea {
    font-size: 22px!important;
  }


  .button.button-balanced {
    font-size: 27px!important;
  }

  .button-outline.button-outline {
    height: 40px!important;
  }

  .button.button-balanced {
    height: 40px!important;
  }
}

/* Small devices */
@media (min-width: 768px) and (max-width: 992px) {
  .img-responsive {
    height: 350px
  }

  .footer-md{
    height: 88px!important;
  }

  .footer-md .title{
    height: 86px!important;
    line-height: 88px!important;
    text-align: left!important;
    vertical-align: middle!important;
    font-size: 46px!important;
  }

  .footer-md .button{
    font-size: 23px;
    max-width: 150px
  }
}

/* Medium devices */
// @media (min-width: 992px) and (max-width: 1200px) {
//   .img-responsive {
//     height: 150px
//   }
// }

/* Large devices */
// @media (min-width: 1200px) and (max-width: 1600px) {
//   .img-responsive {
//     height: 350px
//   }
// }

/* Extra large devices */
// @media (min-width: 1600px) and (max-width: 1920px) {
//   .img-responsive {
//     height: 150px
//   }
// }
