  <div class="row">
    <div class="img-responsive">
      <img ng-src="data:image/png;base64,{{product.item.logo.bytes}}"
        ng-if="product.item.logo.bytes" class="img-product-list"/>
      <img src="img/padrao.gif" ng-if="!product.item.logo.bytes" alt="teste"
        class="img-product-list"/>
    </div>
  </div>
  <div class="row">
    <span>{{product.item.name}}</span>
  </div>
  <div class="row">
    <div class="col col-75 col-bottom">
      <b class="positive f-lg">
        {{product.item.productInternalBarCodes[0].saleValue|currency:'R$'}}
      </b>
    </div>
    <div class="col col-25 col-bottom">
      <span class="button button-clear button-balanced fa fa-cart-plus fa-2x no-min-height"
            ng-click="addCart({item:product,$event:$event})"></span>
    </div>
  </div>
</div>
